html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background-color: #f7d10f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
    transform: translateY(-2px);
    background-color: #fcf372;
    border-radius: 10px;
}

.navbar-text {
    margin-right: 20px;
}

.btn {
    background-color: #f7d10f;
}

.uploadbutton {
    background-color: #f7d10f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.uploadbutton:hover {
    transform: translateY(-2px);
    background-color: #fcf372;
    border-radius: 10px;
}

.image-card img {
    width: 100%;
    height: auto;
    display: block;
}

.upload-form {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.image-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.image-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

.image-card:hover {
    transform: translateY(-5px);
}

.image-wrapper {
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-details {
    padding: 15px;
    text-align: center;
}

.description {
    font-size: 1rem;
    margin: 10px 0;
    color: #555;
}
