@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLabel">Create New Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="uploadForm" method="post" asp-controller="Image" asp-action="Upload" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="imageFile" class="form-label">Select Image</label>
                                <input type="file" class="form-control" id="imageFile" name="imageFile" required />
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="3" required placeholder="Add description"></textarea>
                            </div>

                            <button type="submit" class="uploadbutton btn">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    } 
    <div class="image-container">
        <div class="image-grid" id="imageGrid">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/site.js"></script>
